@font-face {
  font-family: indieFlower;
  src: url(IndieFlower-Regular.ttf);
}
* {margin: 0;
    padding: 0;
}
body {
    box-sizing: border-box;
  width: calc(2 * 100vw);
  height: calc(2 * 100vh);
  background: radial-gradient(
    circle,
    rgba(131, 58, 180, 1) 0%,
    rgba(253, 29, 29, 1) 50%,
    rgba(252, 176, 69, 1) 100%
  );
  color: #fff;
  font-family: indieFlower;
}

#instructions {
    position: relative;
  text-align: center;
  font-size: 40px;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50% , 50%);
  -webkit-transform: translate(-50% , 50%);
  -moz-transform:translate(-50% , 50%);
}

#hey {
  position: absolute;
  left: 4000px;
  top: 200px;
  font-size: 48px;
}

#hey2 {
  position: absolute;
  left: 10000px;
  top: 400px;
  font-size: 48px;
}

#modal {
  background-color: red;
  color: black;
  position: fixed;
  left: 10vw;
  width: 80vw;
  height: 70vh;
  z-index: 100;
  opacity: 0;
  border: 8px solid black;
  top: 80px;
}

#modal div {
  font-size: 3rem;
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

#modal button {
  position: absolute;
  right: 20px;
  bottom: 20px;
  z-index: 100;
}
.date {
    width: 100vw;
    display: flex;
    flex-direction: column;
}
input {
    z-index: 74;
    width: 70vw;
    margin: 0 auto ;
    
}
